@model Domain.ProdutoCosif

@{
    ViewData["Title"] = "Edit";
}

<h2>Edição</h2>

<h4>Produto Cosif</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodProduto" class="control-label">Código Produto</label>
                <select asp-for="CodProduto" class="form-control" asp-items="ViewBag.CodProduto"></select>
                <span asp-validation-for="CodProduto" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CodCosif" />
            <div class="form-group">
                <label asp-for="CodClassificacao" class="control-label">Classificação da Conta</label>
                <select asp-for="CodClassificacao" class="form-control">
                    <option value="Normal">Normal</option>
                    <option value="MTM">MTM</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StaStatus" class="control-label">Status</label>                
                <select asp-for="StaStatus" class="form-control">
                    <option value="A">Ativo</option>
                    <option value="I">Inativo</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a Consulta</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
