@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Meu Perfil</h2>
        <ul>
            <li>Leandro Alexandrino dos Santos</li>
            <li>Conheça mais sobre mim <a href="https://www.linkedin.com/in/leandro-alexandrino-dos-santos-273100100/">LinkedIn</a></li>
        </ul>

        <img srcset="./images/Foto.jpeg 300w,
             ./images/Foto.jpeg 450w,
             ./images/Foto.jpeg 700w" sizes="(max-width: 300px) 250px,
            (max-width: 400px) 400px,
            600px" src="./images/Foto.jpeg" alt="Minha foto.">
    </div>
    <div class="col-md-6">
        <h2>Meus conhecimentos</h2>
        <ul>
            <li>Visual Studio. C#, .Net Core, ASP .NET MVC, ASP .NET CORE MVC, Visual Fox Pro.</li>
            <li>HTML5, CSS3, JavaScript, Jquery, Angular, Node.js, Bootstrap, XML, JSON, REST.</li>
            <li>Web Service, Web API, Web Crawler, Web Scrappnig, Fiddler, HtmlAgilityPack em c#.</li>
            <li>Entity Framework, Dapper, ADO, SQL Server, PostgreSQL, MySQL, Oracle PL/SQL.</li>
            <li>Test Stack, MVP, DDD, TDD.</li>
            <li>RTC, SVN, Git.</li>
            <li>Windows, Windows Server, Firewall, redes, IIS.</li>
            <li>SCRUM, Metodologias Ágeis</li>
            <li>Desenvolvimento ETL, Power Center.</li>
        </ul>
    </div>
    <div class="col-md-12">
        <h2>Carta Apresentação</h2>
        <p>
            Experiência no desenvolvimento de softwares e rotinas para ERP, direcionado para pequenas empresas, tais como: Criação dos módulos Financeiro, Controle de estoque, Pedidos de vendas/serviços, Pontos de vendas, Faturamento (NF-e, NFS-e, NFC-e, CF-e SAT, CT-e, CT-e OS, MDF-e), relatórios e dashboards gerais dos módulos.
        </p>
        <p>
            Experiência no desenvolvimento de softwares para análises de crédito de financiamentos imobiliários, veículares e seguros de autos. Guiada por metologia ágil, framework Scrum, atendendo a todas cerimônias, daily, plannings, reviews, retrospectives e pre-gamings.
        </p>
        <p> Comunicação, dinamismo, organização e comprometimento com todos processos. Ótima integração com equipes, facilidade e interesse em assimilar novos conhecimentos em novas áreas e tecnologias.</p>
    </div>
</div>
