@model Repository.Models.MovimentoManual

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MovimentoManual</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DatMes" />
            <input type="hidden" asp-for="DatAno" />
            <input type="hidden" asp-for="NumLancamento" />
            <div class="form-group">
                <label asp-for="CodProduto" class="control-label"></label>
                <input asp-for="CodProduto" class="form-control" />
                <span asp-validation-for="CodProduto" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CodCosif" />
            <div class="form-group">
                <label asp-for="ValValor" class="control-label"></label>
                <input asp-for="ValValor" class="form-control" />
                <span asp-validation-for="ValValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesDescricao" class="control-label"></label>
                <input asp-for="DesDescricao" class="form-control" />
                <span asp-validation-for="DesDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatMovimento" class="control-label"></label>
                <input asp-for="DatMovimento" class="form-control" />
                <span asp-validation-for="DatMovimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUsuarios" class="control-label"></label>
                <input asp-for="CodUsuarios" class="form-control" />
                <span asp-validation-for="CodUsuarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
